<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Main</title>
</head>
<body>
    <h1>Welcome aboard!</h1>
    <p>Clicca <a th:href="@{/user?type=new}">qui</a> se voui registrarti,
        <br> altrimenti clicca <a th:href="@{/user?type=login}">qui</a> se vuoi fare il login</p>
</body>
</html>