<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <form method="post" th:action="@{/user/login}" th:object="${signedUtente}">
        Nickname: <input type="text" th:field="*{nickname}"><br>
        Password: <input type="password" th:field="*{password}"><br>
        <input type="submit" value="Invia">
    </form>
</body>
</html>